{{!< default}}

{{!-- Hero Sections --}}
<section class="section hero border-top-1{{#if @site.cover_image}} has-img{{/if}}">
  <div class="container wrapper w-100">
    <div class="hero__inner flex">
      <div class="hero__content flex flex-1 flex-col {{#unless @site.cover_image}} flex-cc{{/unless}}">
        {{!-- Title and description --}}
        <h1 class="hero__title">Apoyamos proyectos sociales en Colombia con el poder de los datos</h1>
        <div class="hero__descr m-b{{#unless @site.cover_image}} text-center{{/unless}}">{{@site.description}}</div>
        <a class="btn btn--shadow btn--secondary" href="https://wa.me/573003622440?text=Quiero%20ser%20voluntario"
           title="Quiero ser voluntario" aria-label="Quiero ser voluntario" style="margin-bottom: 10px;margin-right: 10px;">
          <img src="https://image.flaticon.com/icons/png/128/1384/1384095.png" width="14" style=""/> Quiero ser voluntario
        </a>
        <!--
        <a class="btn btn--shadow btn--secondary" href="https://wa.me/573003622440?text=Quiero%20proponer%20un%20proyecto"
           title="Proponer un proyecto" aria-label="Proponer un proyecto" style="margin-bottom: 10px;margin-right: 10px;">
          <img src="https://image.flaticon.com/icons/png/128/1384/1384095.png" width="14"/> Proponer un proyecto
        </a>
        -->

        {{!-- Subscribe --}}
        {{#if @labs.members}}
        {{#if @member.paid}}
        {{!-- Paid member - no CTA --}}
        {{else if @member}}
        <a class="btn btn--shadow btn--secondary" href="/membership/"
           title="{{t "Upgrade"}}" aria-label="{{t "Upgrade"}}">
        {{t "Upgrade"}}
        </a>
        {{else}}
        <form data-members-form="subscribe">
          <input data-members-email aria-labelledby="post-subscribe"
                 type="email" placeholder="{{t "Your email address"}}" required/>
          <button class="btn btn--secondary" type="submit"
                  title="{{t "Subscribe"}}" aria-label="{{t "Subscribe"}}">
          {{t "Subscribe"}}
          </button>
          <a tabindex="0" class="notify notify-success js-notify-close">
            <div class="container wrapper flex flex-cc">
              <div class="notify__msg flex-1">{{t "Great! Check your inbox and click the link to confirm your subscription"}}</div>
              <div class="notify__close">{{>icon name="x" size="xs"}}</div>
            </div>
          </a>
        </form>
        {{/if}}
        {{/if}}
      </div>

      {{!-- Site cover image --}}
      {{#if @site.cover_image}}
      <img class="hero__img"
           srcset="{{img_url @site.cover_image size="s"}} 300w,
      {{img_url @site.cover_image size="m"}} 600w,
      {{img_url @site.cover_image size="l"}} 1000w"
      sizes="(max-width: 1000px) 50vw, 700px"
      src="{{img_url @site.cover_image size="s"}}"
      {{!-- src="{{> img-placeholder}}" --}}
      alt="{{@site.title}}"/>
      {{/if}}
    </div>
  </div>
</section>

<div class="container wrapper">
  {{!-- Suscribe banner --}}
  <br/><br/><br/>
  <div class="section">
    <div class="col-xs-12 center-xs m-t-lg">
      <h2 class="">Convocatoria abierta para acompañamiento a proyectos sociales</h2>
      <div class="m-b text-center" style="padding-left: 10%;padding-right: 10%;">
        Si haces parte de un proyecto social, una entidad sin ánimo de lucro o una ONG en Colombia y crees que puedes
        mejorar el impacto de tus acciones con el poder de los datos, los mapas o la inteligencia artificial,
        esta convocatoria es para tí.
      </div>
      <br/>
      <a href="/convocatorias" class="btn btn--wide btn--shadow btn--brand">
        Conoce más de la convocatoria
      </a>
      <br/><br/>
    </div>
  </div>

  {{!-- Latest Posts --}}
  <div class="section">
    <div class="flex flex-cc m-b">
      {{!-- Tag List --}}
      <div class="tag-list-wrap flex-1">
      {{#get "tags" order="count.posts desc" limit="5"}}
        <div class="tag-list">
          {{#foreach tags}}
            <a class="tag-item" href="{{url}}">{{name}}</a>
          {{/foreach}}
        </div>
      {{/get}}
      </div>

      {{!-- Grid/List buttons --}}
      <button class="toggle__item btn--grid p-sm m-r-sm js-grid-btn"
        aria-label="{{t "Grid"}}" title="{{t "Grid"}}" onclick="setView('grid')">
        {{> icon name="grid" size="sm"}}
      </button>
      <button class="toggle__item btn--list p-sm js-list-btn"
        aria-label="{{t "List"}}" title="{{t "List"}}" onclick="setView('list')">
        {{> icon name="list" size="sm"}}
      </button>
    </div>

    {{!-- Posts --}}
    <div class="grid post-container">
      {{#foreach posts visibility="all"}}
        {{> post-card img=true }}
      {{/foreach}}
    </div>

    {{!-- Load more posts --}}
    <div class="col-xs-12 center-xs m-t-lg">
      <button class="btn btn--wide btn--shadow btn--brand js-load-more" onclick="loadMorePosts(this)">
        {{t "Load more posts"}}
      </button>
    </div>
  </div>

  {{!-- Main Tags --}}
  <div class="section">
    <div class="section__title m-b">{{t "Explore topics"}}</div>

    {{#get "tags" include="count.posts" order="count.posts desc" limit="7"}}
      <div class="row">
        <div class="col-xs-12 col-md-6 col-xl-4 featured-tag">
          {{#foreach tags to="1"}}
            {{> tag-card class="h-100" img=true}}
          {{/foreach}}
        </div>

        <div class="col-xs-12 col-md-6 col-xl-4 tag-wrap">
          {{#foreach tags from="2" to="4" columns="3"}}
            {{> tag-card}}
          {{/foreach}}
        </div>

        <div class="col-xs-12 col-xl-4 tag-wrap">
          {{#foreach tags from="5" to="7"}}
            {{> tag-card}}
          {{/foreach}}
        </div>
      </div>
    {{/get}}
  </div>
</div>
